@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "../fonts/Open Sans";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype"),
        url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans";
    color: #000000;
    font-size: 14px;
    line-height: 14px;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1140px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.tabs_wrapp {
    margin: 20px 0;
}

.tabs-menu_wrapp {
    text-align: right;
    position: relative;
    z-index: 2;
}

.dropdown_wrapp {
    display: inline-block;
    vertical-align: top;
    min-width: 260px;
    position: relative;
    text-align: left;
}

.dropdown-link {
    display: inline-block;
    vertical-align: top;
    background: #5f58ac;
    padding: 8px 10px;
    font-family: "OpenSans", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.dropdown-list {
    display: none;
    width: 100%;
    padding: 10px 13px 0 13px;
    background: #5f58ac;
    border-bottom: 2px solid #4f4992;
    margin-left: -10px;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-list li:last-child {
    border-bottom: none;
}

.dropdown-list li a {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-family: "OpenSans", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown-list li a:link,
.dropdown-list li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.dropdown-list li a:active,
.dropdown-list li a.active {
    border-bottom: 1px solid rgba(255, 255, 255, .9);
}

.dropdown-list li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .9);
}

.dropdown-link i {
    margin: 0 0 0 10px;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.dropdown-link:hover + .dropdown-list {
    display: block;
}

.dropdown-list:hover {
    display: block;
}

.tabs {    
    position: relative;
}

.tabs .tab {
    border: 2px solid #484285;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -200%;
    z-index: -1;
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.tabs .tab.active {
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 1;
}

.links_wrapp .left {
    width: 33.33%;
}

.seo-text {
    margin: 10px 0;
}

.seo-text li {
    padding: 7px 5px;
}

.seo-text li a {
    display: inline;
    border-bottom: 1px solid transparent;
    font-family: "OpenSans", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #484285;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.seo-text li a:link,
.seo-text li a:hover {
    border-bottom: 1px solid transparent;
}

.seo-text li a:active,
.seo-text li a.active {
    border-bottom: 1px solid #484285;
}

.seo-text li a:hover {
    border-bottom: 1px solid #484285;
}

.two-cols_templ > .left {
    width: 40%;
    padding: 0 2% 0 0;
    border-right: 2px solid #484285;
}

.two-cols_templ > .right {
    width: 60%;
    padding: 0 0 0 2%;
}

.good-card {
    display: table;
    width: 100%;
    margin: 20px 0;
}

.good-card .col-1 {
    display: table-cell;
    vertical-align: top;
    width: 100px;
    padding: 0 1% 0 0;
}

.good-card .col-2 {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 10px 0 10px 1%;
}

.good-card .img-box {
    max-width: 90px;
    height: 90px;
    overflow: hidden;
}

.good-card .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.good-card a {
    display: inline;
    border-bottom: 1px solid #484285;
    font-family: "OpenSans", "Arial", "Verdana", sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #484285;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.good-card a:link,
.good-card a:hover {
    border-bottom: 1px solid #484285;
}

.good-card a:active,
.good-card a.active {
    border-bottom: 1px solid transparent;
}

.good-card a:hover {
    border-bottom: 1px solid transparent;
}

.links_wrapp_2 .left {
    width: 50%;
}